.fundo{
    background-color: rgba(245, 245, 245, 1);
    height: 700px;
}
#txt1{
    font-family: Poppins;
    font-size: 40px;
    margin-top: 50px;
    margin-left: 164px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    color: rgba(48, 58, 109, 1);
}
#txt2{
    font-family: Poppins;
    font-size: 20px;
    margin-left: 164px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: rgba(48, 58, 109, 1);
}
.botoes{
    margin-left: 160px;
}
.botaoCadastro{
    display: block;
    //width: 250px;
    height: 50px;
    margin-top: 105px;
    border-radius: 10px;
    background-color: rgba(48, 58, 109, 1);
    text-decoration: none;
}
.txtBotao{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 57.6px;
    letter-spacing: -0.8999999165534973px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
#imgInicio{
    //width: 908px;
    height: 766px;
    margin-top: -40px;
    margin-left: -190px;
}
#line{
    border: 1px solid rgba(48, 58, 109, 1);
    margin-top: -50px;
    height: 1px;
}
@media (min-width: 1007px) and (max-width: 1283px){
    #txt1{
        font-size: 40px;
        margin-left: 35px;
    }
    #txt2{
        font-size: 20px;
        margin-left: 35px;
    }
    #imgInicio{
        width: 820px;
        height: 714px;
        margin-top: -40px;
        margin-left: -190px;
    }
    .botoes{
        margin-left: 20px;
    }
    .botaoCadastro{
        margin-top: 70px;
    }
}
@media (min-width: 780px) and (max-width: 1006px){
    #txt1{
        font-size: 37px;
        margin-left: 28px;
        line-height: 53px;
    }
    #txt2{
        font-size: 19px;
        margin-left: 28px;
    }
    #imgInicio{
        //width: 810px;
        height: 654px;
        margin-top: -40px;
        margin-left: -190px;
    }
    .botoes{
        margin-left: 20px;
    }
    .botaoCadastro{
        margin-top: 30px;
    }
    .txtBotao{
        font-size: 17px;
    }
    .fundo{
        height: 500px;
    }
}
@media (min-width: 0px) and (max-width: 780px){
    #txt1{
        margin-top: 15px;
        font-size: 30px;
        margin-left: 10px;
        line-height: 45px;
    }
    #txt2{
        font-size: 17px;
        margin-left: 10px;
    }
    #imgInicio{
        //width: 810px;
        height: 604px;
        margin-top: -40px;
        margin-left: -190px;
    }
    .botoes{
        margin-left: 20px;
    }
    .botaoCadastro{
        margin-top: 30px;
    }
    .txtBotao{
        font-size: 15px;
    }
    .fundo{
        height: 520px;
    }
}