.fundo{
    background-color: rgba(245, 245, 245, 1);
    height: 700px;
}
#txt1{
    font-family: Poppins;
    font-size: 40px;
    margin-top: 50px;
    margin-left: 164px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    color: rgba(48, 58, 109, 1);
}
#txt2{
    font-family: Poppins;
    font-size: 20px;
    margin-left: 164px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: rgba(48, 58, 109, 1);
}
.botoes{
    margin-left: 160px;
}
.botaoCadastro{
    display: block;
    width: 250px;
    height: 50px;
    margin-top: 105px;
    border-radius: 10px;
    background-color: rgba(48, 58, 109, 1);
    text-decoration: none;
}
.txtBotao{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 57.6px;
    letter-spacing: -0.8999999165534973px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
#bt2{
    margin-left: -30px;
}
#imgInicio{
    width: 908px;
    height: 786px;
    margin-top: -40px;
    margin-left: -190px;
}