@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
#bannerPrincipal{
    background-image: url(../../../assets/outros/banner1.png);
    background-size: cover;
    overflow: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 780px;
}
#bannerApresentacao{
    width: 730px;
    justify-content: center;
    overflow: auto;
    height: 349px;
    margin: 10%;
    //margin-top: 15%;
    //margin-left: 10%;
    //margin-right: 10%;
    //margin-left: 395px;
    border-radius: 10px;
    background-color: rgba(247, 248, 250, 0.8);;
}
#logoMini{
    width: 60px;
    height: 57px;
    margin-top: 34px;
    margin-left: 45%;
    //margin-top: 34px;
    //margin-left: 335px;
}
#tituloMetalive{
    width: 185px;
    height: 50px;
    margin-left: 272px;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0em;
}
#texto1{
    width: 537px;
    height: 56px;
    top: 165px;
    margin-left: 96px;
    font-size: 18px;
    font-weight: 300;
    color: #1D252C;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
}
#botaoDescubraQuemSomos{
    text-decoration: none; 
    display: inline-block;
    width: 361px;
    height: 47px;
    margin-left: 184px;
    border-radius: 10px;
    align-items: center;
    background-color: #303A6D;
}
#textoBotao{
    color: aliceblue;
    margin-top: 10px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
}
@media screen and (max-width: 992px){       //tablet
    #bannerPrincipal{
        height: auto;
        display: block;
    }
    #bannerApresentacao{
        margin: 5%;
        margin-top: 65px;
        width: 90%;
        text-align: center; 
        align-items: center; 
        //margin-left: 10%;
        //margin-right: 10%;
        //align-items: center;
    }
    #logoMini{
        display: flex;
        justify-content: center;
    }
    #tituloMetalive{
        width: 185px;
        height: 50px;
        margin-left: 0px;
        display: inline-block;
        justify-content: center;
        //margin-left: 37%;
        //margin-right: 32%;
        font-size: 40px;
        font-weight: 500;
        line-height: 60px;
        letter-spacing: 0em;
    }
    #texto1{
        //display: block;
        //justify-content: center;
        display: inline-block;
        margin-left: 0px;
    }
    #botaoDescubraQuemSomos{
        text-decoration: none; 
        display: inline-block;
        width: 361px;
        height: 47px;
        margin-left: 0px;
    }
}
