<div class="container-fluid" id="bannerPrincipal">
    <div class="row">
        <div class="col-12 fundo">
            <div class="row">
                <div class="col-6">
                    <p id="txt1">
                        Trabalho em conjunto entre nutricionista, personal e academia em um só benefício
                    </p>
                    <p id="txt2">Despertamos seu bem-estar através da unificação da saúde alimentar, física e social através da <b>“Metodologia METALIVE”</b>.
                    </p>
                    <div class="row botoes">
                        <div class="col-6">
                            <a class="botaoCadastro" href="">
                                <p id="bt1" class="txtBotao">Quero ser cliente</p>
                            </a>
                        </div>
                        <div class="col-6">
                            <a id="bt2" class="botaoCadastro" href="">
                                <p class="txtBotao">Quero ser colaborador</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <img id="imgInicio" src="../../../assets/paginas/inicio/f0056ec82916b0a4b72b6c13a5e08fa3.png" alt="">
                </div>
                <div class="col-7 mx-auto" id="line"></div>
            </div>
        </div>
   </div>
</div>