<div class="container-fluid blocoDados">
    <div class="row">
        <p id="nome">Fulano da Silva</p>
        <div class="col-6 mx-auto">
            <img id="iconCidade" src="../../../assets/paginas/perfil/icondados.png" alt="">
            <p id="cidade">Curitiba/PR</p>
        </div>
        <p id="tituloPontos">Pontos</p>
        <div class="">
            <p id="pontuacao">242</p>
            <p id="metaPoints">metaPoints</p>
        </div>
        <p id="Informacoes">Informações</p>
        <p class="mx-auto" id="textoInfos">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
</div>