rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Regras para usuários
    match /users/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow write: if request.auth != null; // Permite que usuários autenticados escrevam
    }
    
    // Regras para nutricionistas
    match /nutricionistas/{nutricionistaId} {
      allow read, write: if request.auth != null; // Permite que usuários autenticados leiam e escrevam
    }
        // Regras para personais
    match /personais/{personalId} {
      allow read, write: if request.auth != null; // Permite que usuários autenticados leiam e escrevam
    }
    
    // Regras para clientes
    match /clientes/{clienteId} {
      allow read, write: if request.auth != null; // Permite que usuários autenticados leiam e escrevam
    }

    // Regras para formularios
    match /formularios/{formularioId} {
      allow read, write: if request.auth != null; // Apenas usuários autenticados podem ler e escrever
    }
    
    // Acesso público
    match /publicCollection/{docId} {
      allow read: if true; // Leitura pública
      allow write: if request.auth != null; // Apenas autenticados podem escrever
    }
  }
}
