<div class="container-fluid" id="blocoCombos">
    <div class="row">
        <p class="col-10 mx-auto" id="tituloCombos">Combos</p>
        <p class="col-11 mx-auto" id="textoCombos">Conheça nossos melhores combos e escolha o que mais combina com você!</p>
        <div class="col-xl-10 col-lg-11 col-md-12 col-sm-12 col-12 mx-auto">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-10 mx-auto combo">
                    <div class="blocoTitulo">
                        <p class="tituloCombo">Starter</p>
                        <p class="subTituloCombo">Para iniciantes</p>
                    </div>
                    <div class="blocoValor">
                        <p class="val1">Rs</p>
                        <p class="val2">149</p>
                        <p class="val3">99</p>
                        <p class="mensal">Para iniciantes que querem começar a fazer exercícios</p>
                    </div>
                    <p class="comboInclui">Starter inclui</p>
                    <div class="mx-auto linha"></div>
                    <div class="posicaoDescricao">
                        <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                        <p class="descricaoCombo">Alguma descrição</p>
                        <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                        <p class="descricaoCombo">Alguma descrição</p>
                        <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                        <p class="descricaoCombo">Alguma descrição</p>
                        <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                        <p class="descricaoCombo">Alguma descrição</p>
                    </div>
                    <div class="posicaoLink1 row">
                        <a class="linkAssineJa col-12 mx-auto" href="/combos">
                            <p class="textoLink">Assine já!</p>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-10 mx-auto combo">
                    <div class="blocoTitulo">
                        <p class="tituloCombo">Medium</p>
                        <p class="subTituloCombo">Para participantes</p>
                    </div>
                    <div class="blocoValor">
                        <p class="val1">Rs</p>
                        <p class="val2">179</p>
                        <p class="val3">99</p>
                        <p class="mensal">Para iniciantes que querem começar a fazer exercícios</p>
                    </div>
                    <p class="comboInclui">Medium inclui</p>
                    <div class="mx-auto linha">
                        <div class="posicaoDescricao">
                            <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                            <p class="descricaoCombo">Alguma descrição</p>
                            <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                            <p class="descricaoCombo">Alguma descrição</p>
                            <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                            <p class="descricaoCombo">Alguma descrição</p>
                            <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                            <p class="descricaoCombo">Alguma descrição</p>
                            <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                            <p class="descricaoCombo">Alguma descrição</p>
                        </div>
                    </div>
                    <div class="posicaoLink2 row">
                        <p class="obsDescricao col-10 mx-auto">Obs.: Este plano inclui avaliação física, treino,
                            nutricionista e acompanhamento em grupo de whatsapp</p>
                            <a class="linkAssineJa col-12 mx-auto" href="/combos">
                                <p class="textoLink">Assine já!</p>
                            </a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-10 mx-auto combo">
                    <div class="blocoTitulo">
                        <p class="tituloCombo">Premium</p>
                        <p class="subTituloCombo">Para profissionais</p>
                    </div>
                    <div class="blocoValor">
                        <p class="val1">Rs</p>
                        <p class="val2">199</p>
                        <p class="val3">99</p>
                        <p class="mensal">Para iniciantes que querem começar a fazer exercícios</p>
                    </div>
                    <p class="comboInclui">Premium inclui</p>
                    <div class="mx-auto linha"></div>
                    <div class="posicaoDescricao">
                        <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                        <p class="descricaoCombo">Alguma descrição</p>
                        <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                        <p class="descricaoCombo">Alguma descrição</p>
                        <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                        <p class="descricaoCombo">Alguma descrição</p>
                        <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                        <p class="descricaoCombo">Alguma descrição</p>
                        <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                        <p class="descricaoCombo">Alguma descrição</p>
                        <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                        <p class="descricaoCombo">Alguma descrição</p>
                        <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                        <p class="descricaoCombo">Alguma descrição</p>
                    </div>
                    <div class="row posicaoLink3">
                        <a class="linkAssineJa col-12 mx-auto" href="/combos">
                            <p class="textoLink">Assine já!</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 blocoAzul"></div>
    </div>
</div>