<div class="container-fluid" id="blocoCombos">
    <div class="row">
        <p class="cl-12" id="tituloCombos">Combos</p>
        <p id="textoCombos">Conheça nossos melhores combos e escolha o que mais combina com você!</p>
        <div class="container">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-lg-3 mx-auto combo">
                    <div class="blocoTitulo">
                        <p class="tituloCombo">Starter</p>
                        <p class="subTituloCombo">Para iniciantes</p>
                    </div>
                    <div class="blocoValor">
                    <p class="val1">Rs</p>
                    <p class="val2">149</p>
                    <p class="val3">99</p>
                    <p class="mensal">Para iniciantes que querem começar a fazer exercícios</p></div>
                    <p class="comboInclui">Starter inclui</p>
                    <div class="mx-auto linha"></div>
                    <div class="posicaoDescricao">
                    <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                    <p class="descricaoCombo">Alguma descrição</p>
                    <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                    <p class="descricaoCombo">Alguma descrição</p>
                    <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                    <p class="descricaoCombo">Alguma descrição</p>
                    <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                    <p class="descricaoCombo">Alguma descrição</p>
                </div>
                    <div class="posicaoLink1 row">
                        <a class="linkAssineJa col-12 mx-auto" href="">
                            <p class="textoLink">Assine já!</p>
                        </a>
                        </div>
                </div>
                <div class="col-lg-3 mx-auto combo">
                    <div class="blocoTitulo">
                        <p class="tituloCombo">Medium</p>
                        <p class="subTituloCombo">Para participantes</p>
                    </div>
                    <div class="blocoValor">
                    <p class="val1">Rs</p>
                    <p class="val2">179</p>
                    <p class="val3">99</p></div>
                    <p class="mensal">Para iniciantes que querem começar a fazer exercícios</p>
                    <p class="comboInclui">Medium inclui</p>
                    <div class="mx-auto linha"></div>
                    <div class="posicaoDescricao">
                        <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                        <p class="descricaoCombo">Alguma descrição</p>
                        <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                        <p class="descricaoCombo">Alguma descrição</p>
                        <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                        <p class="descricaoCombo">Alguma descrição</p>
                        <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                        <p class="descricaoCombo">Alguma descrição</p>
                        <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                        <p class="descricaoCombo">Alguma descrição</p>
                    </div>
                    <div class="posicaoLink2 row">
                    <a class="linkAssineJa col-12 mx-auto" href="">
                        <p class="textoLink">Assine já!</p>
                    </a>
                    </div>
                </div>
                <div class="col-lg-3 mx-auto combo">
                    <div class="blocoTitulo">
                        <p class="tituloCombo">Premium</p>
                        <p class="subTituloCombo">Para profissionais</p>
                    </div>
                    <div class="blocoValor">
                    <p class="val1">Rs</p>
                    <p class="val2">199</p>
                    <p class="val3">99</p>
                    <p class="mensal">Para iniciantes que querem começar a fazer exercícios</p></div>
                    <p class="comboInclui">Premium inclui</p>
                    <div class="mx-auto linha"></div>
                    <div class="posicaoDescricao">
                        <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                        <p class="descricaoCombo">Alguma descrição</p>
                        <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                        <p class="descricaoCombo">Alguma descrição</p>
                        <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                        <p class="descricaoCombo">Alguma descrição</p>
                        <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                        <p class="descricaoCombo">Alguma descrição</p>
                        <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                        <p class="descricaoCombo">Alguma descrição</p>
                        <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                        <p class="descricaoCombo">Alguma descrição</p>
                        <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                        <p class="descricaoCombo">Alguma descrição</p>
                    </div>
                    <div class="row posicaoLink3">
                        <a class="linkAssineJa col-12 mx-auto" href="">
                            <p class="textoLink">Assine já!</p>
                        </a>
                        </div>
                </div>
                <div class="col-1"></div>
                <div class="col-12 blocoAzul"></div>
            </div>
        </div>
    </div>
</div>
