<div class="container-fluid" id="blocoContato">
    <div class="row">
        <div class="col-12" id="bloco1">
            <p id="tituloContato">Contato</p>
        </div>
        <div class="col-4 mx-auto" id="bloco2">
            <p id="texto1">Sinta-se livre para nos contatar. Estamos à disposição para tirar todas as suas dúvidas.</p>
            <img class="iconContato" src="../../../assets/icones/contatoTel.png" alt="">
            <p id="nosLigue" class="textoContato">Nos ligue</p>
            <p class="infoContato">(99) 99999-9999</p>
            
            <img class="iconContato" src="../../../assets/icones/contatoEmail.png" alt="">
            <p class="textoContato">Email</p>
            <p class="infoContato">admmetalive.com.br</p>
            
            <img class="iconContato" src="../../../assets/icones/contatoLocal.png" alt="">
            <p class="textoContato">Localização</p>
            <p class="infoContato">Rua Principal, 123 - Centro, Curitiba/PR</p>
        </div>
        <div class="col-4 mx-auto" id="bloco3">
            <div id="blocoInput">
                <input class="input1" id="inputNome" type="text" placeholder="Nome">
                <input class="input1" id="inputEmail" type="email" placeholder="Email">
                <input id="inputMensagem" type="text" placeholder="Mensagem">
                <input id="submit" type="submit" value="Enviar">
            </div>
        </div>
    </div>
</div>
