#blocoContato{
    background: #F7F8FACC;
    width: 100%;
    height: 830px;
    gap: 0px;
    opacity: 0px;
}
#bloco1{
    margin-top: 70px;
    text-align: center;
}
#tituloContato{
    color: #303A6D;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 500;
    line-height: 57.6px;
    letter-spacing: -0.8999999165534973px;
    text-align: center;
}
#texto1{
    color: #303A6D;
    font-family: Poppins;
    font-size: 20px;
    margin-top: 80px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: -0.8999999165534973px;
    text-align: left;
}
.iconContato{
    width: 35px;
    height: 35px;
    margin-top: -35px;
    gap: 0px;
    opacity: 0px;
}
.textoContato{
    color: #303A6D;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    margin-top: 15px;
    margin-left: 20px;
    line-height: 57.6px;
    letter-spacing: -0.8999999165534973px;
    text-align: left;
}
.infoContato{
    color: #303A6D;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 300;
    margin-top: -15px;
    margin-left: -38px;
    line-height: 57.6px;
    letter-spacing: -0.8999999165534973px;
    text-align: left;
}
#blocoInput{
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px #000000CC;
    width: 534px;
    height: 555px;
    margin-top: 50px;
    position: absolute;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;
}
.input1{
    border: 1px solid #303A6DB2;
    background-color: #F7F8FACC;
    width: 447px;
    height: 54px;
    margin-top: 50px;
    margin-left: 43px;
    gap: 0px;
    border-radius: 10px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
}
#inputMensagem{
    width: 447px;
    height: 199px;
    margin-top: 40px;
    margin-left: 43px;
    gap: 0px;
    border-radius: 10px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #303A6DB2;
    background-color: #F7F8FACC;
}
#submit{
    background-color: #303A6D;
    width: 230px;
    height: 54px;
    margin-top: 30px;
    margin-left: 152px;
    gap: 0px;
    border-radius: 10px;
    color: white;;
    opacity: 0px;
}
#blocoAzul{
    width: 100%;
    height: 150px;
    opacity: 0px;
    background-color: #303A6D;
    margin-top: 25px;
}
