#capa {
    height: 180px;
    background: linear-gradient(90deg, #FFFFFF 0%, #303A6D 100%);
    background: -webkit-linear-gradient(90deg, #FFFFFF 0%, #303A6D 100%);
    background: -moz-linear-gradient(90deg, #FFFFFF 0%, #303A6D 100%);
    background: -o-linear-gradient(90deg, #FFFFFF 0%, #303A6D 100%);
    background: -ms-linear-gradient(90deg, #FFFFFF 0%, #303A6D 100%);
    background: linear-gradient(90deg, #FFFFFF 0%, #303A6D 100%);
}
#capa{
    margin-top: 59px;
}
.row > * {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
#fotoPerfil{
    border-radius: 50%;
    height: 200px;
    margin-top: 165px;
    //margin-left: 210px;
    margin-left: 13%;
    position: absolute;
    overflow: hidden;
    //width: 226px;
    width: 16%;
}
@media (max-width: 992px){
    #fotoPerfil{
        margin-left: 5%;
        width: 23.5%;
    }
}
@media (max-width: 767px){
    #fotoPerfil{
        margin-left: 32%;
        width: 32%;
    }
}
@media (max-width: 465px){
    #fotoPerfil{
        margin-left: 26%;
        width: 47%;
        height: 170px;
        margin-top: 155px;
    }
    #capa{
        height: 150px;
    }
}