<nav id="header" class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img id="logo" src="../../../assets/logo/logometalive1.png" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" class="link" href="#">Quem somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" class="link" href="#">Combos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" class="link" href="#">Contrate a gente</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



<!--<div id="header">
    <div>
        <span>
            <img id="logo" src="../../../assets/logo/logometalive1.png" alt="">
        </span>
        <span id="links">
            <a class="link" href="#">Quem somos</a>
            <a class="link" href="#">Combos</a>
            <a class="link" href="#">Contrate a gente</a>
        </span>
    </div>
</div> -->