<div id="apresentacao" class="container-fluid">
    <div class="row">
        <div id="bloco1">
            <p class="col-12 mx-auto" id="titulo1">Quem somos</p>
            <p class="col-12 mx-auto" id="texto1">Descubra quem é a <strong>Metalive</strong></p>
        </div>
        <div style="height: 30px;"></div>
        <div class="col-10 mx-auto" id="bloco2">
            <div style="display: inline-block;">
                <img id="imagem1" src="../../../assets/outros/img1.png" alt="">
            </div>
            <div id="infos">
                <h2 id="titulo2">Nossa visão</h2>
                <p id="texto2">A METALIVE é um projeto de startup na área de bem-estar e tecnologia, visto que falta
                    sincronia no que diz respeito a viabilidade econômica, nutricionistas, personais e academias não
                    trabalhando em conjunto juntamente com a ausência da informação correta sobre a saúde para pessoas que
                    são uma dor constante na sociedade.</p>
            </div>
            <div style="height: 80px;"></div>
        </div>
    </div>
</div>


<!--
                <div class="row">
                <div class="col-lg-4">
                    <img class="col-12" id="imagem1" src="../../../assets/outros/img1.png" alt="">
                </div>
                <div class="col-lg-8" id="infos">
                    <h2 id="titulo2">Nossa visão</h2>
                    <p id="texto2">A METALIVE é um projeto de startup na área de bem-estar e tecnologia, visto que falta
                        sincronia no que diz respeito a viabilidade econômica, nutricionistas, personais e academias não
                        trabalhando em conjunto juntamente com a ausência da informação correta sobre a saúde para pessoas que
                        são uma dor constante na sociedade.</p>
                </div>
-->