@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
#meuDestino{
    width: 100%;
    background-color: #F7F8FA 80%;
}
#bloco1{
    background-color: #F7F8FA 80%;
    width: 100%;
}
#titulo1{ //quem somos
    font-size: 40px;
    font-weight: 500;
    line-height: 58px;
    text-align: center;
    color: #303A6D;
    height: 50px;
    margin-top: 25px;
}
#texto1{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    line-height: 58px;
    text-align: center;
    color: #303A6D;
}
#bloco2{
    background-color: #F7F8FA 80%;
}
.imgApresentacao{
    z-index: -1;
    width: 330px;
    height: 338px;
    border-radius: 20px;
    position: relative;
}
.imgApresentacao2{
    z-index: -1;
    width: 315px;
    height: 338px;
    //margin-left: 570px;
    margin-left: 63%;
    border-radius: 20px;
    position: relative;
}
.blocoInfo{
    display: inline-block;
    background-color: #F5F5F5;
    //width: 662px;
    position: absolute;
    height: 325px;
    margin-left: -50px;
    margin-top: 7px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
    border-radius: 10px;   
}
.blocoInfo2{
    display: inline-block;
    background-color: #F5F5F5;
    position: absolute;
    height: 325px;
    margin-left: 0px;
    margin-top: 7px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
    border-radius: 10px;   
}
.tituloBloco{
    color: #303A6D;
    font-family: Poppins;
    margin: 35px;
    font-size: 35px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}
.textoBloco{
    font-size: 23px;
    font-weight: 500px;
    line-height: 30px;
    letter-spacing: -0.8999999165534973px;
    margin: 35px;
    color: #303A6D;
}
.posicaoBlocoInfo{
    overflow: hidden;
    margin-top: 50px;
}
@media (max-width: 1200px){
    .imgApresentacao2{
        margin-left: 63%;
    }
}
@media (max-width: 994px){
    .imgApresentacao2{
        margin-left: 57%;
    }
    .textoBloco{
        font-size: 22px;
        margin: 22px;
    }
    .tituloBloco{
        font-size: 33px;
        margin: 22px;
    }
}
@media (min-width: 501px) and (max-width: 774px){
    .textoBloco{
        font-size: 20px;
        margin: 22px;
    }
    .tituloBloco{
        font-size: 30px;
        margin: 22px;
    }
    .blocoInfo{
        margin-left: -10%;
    }
    .imgApresentacao, .imgApresentacao2{
        width: 300px;
        height: 343px;
    }
    .imgApresentacao2{
        margin-left: 45%;
    }
}
@media (max-width: 680px) {
    .imgApresentacao, .imgApresentacao2{
        width: 273px;
        height: 325px;
        margin-top: 8px;
    }
    .textoBloco{
        font-size: 21px;
        margin: 20px;
        line-height: 25px;
    }
    .tituloBloco{
        font-size: 28px;
        margin: 20px;
    }
}
@media (min-width:310px) and (max-width: 500px){
    .textoBloco{
        font-size: 14px;
        margin: 12px;
        line-height: 23px;
    }
    .tituloBloco{
        font-size: 22px;
        margin: 12px;
    }
    .imgApresentacao, .imgApresentacao2{
        width: 200px;
        height: 303px;
        margin-top: 18px;
    }
    .imgApresentacao2{
        margin-left: 41%;
    }
}