@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
#apresentacao{
    width: 100%;
    background-color: #F7F8FA 80%;
}
#bloco1{
    background-color: #F7F8FA 80%;
    width: 100%;
}
#titulo1{ //quem somos
    font-size: 40px;
    font-weight: 500;
    line-height: 58px;
    text-align: center;
    color: #303A6D;
    height: 50px;
    margin-top: 25px;
}
#texto1{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    line-height: 58px;
    text-align: center;
    color: #303A6D;
}
#bloco2{
    background-color: #F7F8FA 80%;
}
.imgApresentacao{
    z-index: -1;
    width: 350px;
    height: 338px;
    border-radius: 20px;
}
.blocoInfo{
    display: inline-block;
    background-color: #F5F5F5;
    width: 662px;
    height: 325px;
    margin-left: -150px;
    margin-top: 26px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
    border-radius: 10px;   
}
.tituloBloco{
    color: #303A6D;
    font-family: Poppins;
    margin: 35px;
    font-size: 35px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}
.textoBloco{
    font-size: 23px;
    font-weight: 500px;
    line-height: 30px;
    letter-spacing: -0.8999999165534973px;
    margin: 35px;
    color: #303A6D;
}
.posicaoBlocoInfo{
    overflow: hidden;
}