<div id="apresentacao" class="container-fluid">
    <div class="row">
        <div id="bloco1">
            <p class="col-12 mx-auto" id="titulo1">Quem somos</p>
            <p class="col-12 mx-auto" id="texto1">Descubra quem é a <strong>Metalive</strong></p>
        </div>
        <div style="height: 30px;"></div>
        <div class="col-10 mx-auto" id="bloco2">
            <div class="row">
                <div class="posicaoBlocoInfo">
                    <img class="imgApresentacao" src="../../../assets/paginas/apresentacao/2683a6610fb8068a676c0c3995dae6b5.jpg" alt="">
                    <div class="blocoInfo">
                        <h2 class="tituloBloco">O que é a Metalive?</h2>
                        <p class="textoBloco">Somos uma startup no ramo de bem-estar que têm como objetivo a acessibilidade alimentar e física. Queremos que todas as pessoas possam ter uma alimentação equilibrada com uma boa prática de atividade física.</p>    
                    </div>
                </div>
                <div class="posicaoBlocoInfo">
                    <div class="blocoInfo">
                        <h2 class="tituloBloco">O que fornecemos?</h2>
                        <p class="textoBloco">Em vez de buscar de maneira indivudualizada os profissionais, produtos e serviços, proporcionamos tudo em um pacote só, garantindo um melhor preço e qualidade pelo trabalho em equipe.</p>    
                    </div>
                    <img class="imgApresentacao" src="../../../assets/paginas/apresentacao/img2.jpg" alt="">
                </div>
                <div class="posicaoBlocoInfo">
                    <img class="imgApresentacao" src="../../../assets/paginas/apresentacao/img3.jpg" alt="">
                    <div class="blocoInfo">
                        <h2 class="tituloBloco">Qual o diferencial da Metalive?</h2>
                        <p class="textoBloco">Serviços até 60% mais econômicos do que o mercado já oferece, mantendo e elevando a qualidade por uma metodologia única: a “Metodologia METALIVE”.</p>    
                    </div>
                </div>
                <div class="posicaoBlocoInfo">
                    <div class="blocoInfo">
                        <h2 class="tituloBloco">Porque escolher a Metalive?</h2>
                        <p class="textoBloco">Descomplicamos sua agenda do bem-estar. Organizamos sua alimentação, treinamento e desempenho.</p>    
                    </div>
                    <img class="imgApresentacao" src="../../../assets/paginas/apresentacao/img4.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<!--            <div style="display: inline-block;">
                <img id="imagem1" src="../../../assets/outros/img1.png" alt="">
            </div>
            <div class="infosCaixa">
                <h2 class="tituloBloco">O que é a Metalive?</h2>
                <p class="textoBloco">Somos uma startup no ramo de bem-estar que têm como objetivo a acessibilidade alimentar e física. Queremos que todas as pessoas possam ter uma alimentação equilibrada com uma boa prática de atividade física.</p>
            </div>

            <div style="height: 80px;"></div>-->