<div class="termos-container">
    <h2>Termos de Uso e Política de Privacidade</h2>
    <div class="termos-texto">
      <!-- Coloque o texto dos seus Termos de Uso e Política de Privacidade aqui -->
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque luctus malesuada dolor, vel tincidunt justo feugiat in. 
        Sed imperdiet, purus in facilisis tristique, ex erat tempus sapien, sit amet lacinia augue est at ligula.
      </p>
      <!-- Continue com mais conteúdo conforme necessário -->
    </div>
    <div class="termos-aceitar">
      <label>
        <input type="checkbox" [(ngModel)]="aceito"> Eu aceito os Termos de Uso e a Política de Privacidade
      </label>
    </div>
  </div>
  