#blocoBeneficios{
    background-color: #303A6D;
    width: 100%;
    border: 1;
}
#titulo1{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 500;
    margin-top: 59px;
    line-height: 58px;
    letter-spacing: -0.8999999165534973px;
    text-align: center;
    width: 100%;
}
#texto1{
    font-size: 18px;
    font-weight: 300;
    line-height: 58px;
    text-align: center;
    width: 100%;
    height: 35px;
    margin-top: -25px;
    color: #FFFFFF;
}
.blocoBranco{
    overflow: hidden; //mudei
    display: inline-block;
    width: 321px;
    height: 311px;
    margin-top: 100px;
    border-radius: 15px;
    background-color: #FFFFFF;   
}
.logo{
    display: inline-block;
    width: 490px;
    height: 470px;
    margin-left: -97px;
    margin-top: -80px;
    opacity: 30%;
}
.icon{
    //margin-top: -560px;
    margin-top: -650px;
    width: 80px;
    height: 80px;
    margin-left: 110px;
}
.txt{
    color: rgba(48, 58, 109, 1);
    align-items: center;
    text-align: center;
    letter-spacing: -0.9px;
    font-size: 28px;
    margin-top: -290px;
    font-family: poppins;
}
#txt2{
    color: rgba(48, 58, 109, 1);
    align-items: center;
    letter-spacing: -0.9px;
    font-size: 28px;
    margin-top: -98px;
    margin-left: 457px;
    font: poppins;
}
#txt3{
    color: rgba(48, 58, 109, 1);
    align-items: center;
    letter-spacing: -0.9px;
    font-size: 28px;
    margin-top: -130px;
    margin-left: 760px;
    font-family: poppins;
}
#bloco3{
    display: flex;
    justify-content: center;
}
#link1{
    text-decoration: none; 
    display: block;
    background-color: #FFFFFF;
    width: 307px;
    height: 50px;
    margin-top: 80px;
    margin-bottom: 50px;
    border-radius: 10px;
}
#textoBotao{
    color: rgba(48, 58, 109, 1);
    text-align: center;
    margin-top: 5px;
    font-size: 25px;
}
.descricaoBeneficio{
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.8999999761581421px;
    text-align: center;
    color: rgba(48, 58, 109, 1);
}
@media screen and (min-width:768px) and (max-width: 991px){
    #titulo1{
        font-size: 42px;
        margin-top: 35px;
    }
    #texto1{
        font-size: 20px;
        height: 35px;
    }
    .blocoBranco{
        width: 30%;
        height: 290px;
        margin-top: 40px;
    }
    #link1{
        width: 313px;
        height: 55px;
        margin-top: 65px;
    }
    #textoBotao{
        font-size: 27px;
    }
    .logo{
        width: 470px;
        height: 450px;
    }
    .icon{
        width: 65px;
        height: 70px;
        margin-left: 105px;
    }
    .txt{
        font-size: 24px;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px){
    #titulo1{
        font-size: 42px;
        margin-top: 25px;
    }
    #texto1{
        font-size: 22px;
        height: 35px;
        margin-top: -26px;
    }
    .blocoBranco{
        width: 32%;
        height: 275px;
        margin-top: 38px;
    }
    #link1{
        width: 313px;
        height: 55px;
        margin-top: 55px;
    }
    #textoBotao{
        font-size: 27px;
    }
    .logo{
        width: 440px;
        height: 445px;
    }
    .icon{
        width: 55px;
        height: 65px;
        margin-left: 90px;
    }
    .txt{
        font-size: 22px;
        line-height: 22px;
    }
}
@media screen and (max-width: 430px){
    #titulo1{
        font-size: 37px;
        margin-top: 20px;
    }
    .icon{
        margin-left: 33%;
    }
    #texto1{
        font-size: 18px;
        height: 35px;
        margin-top: -29px;
    }
    .blocoBranco{
        margin-top: 28px;
        width: 79%;
        height: 275px;
    }
    .logo{
        width: 516px;
        height: 440px;
        margin-left: -94px;
        margin-top: -83px;
    }
    #link1{
        width: 313px;
        height: 55px;
        margin-top: 55px;
    }
    #textoBotao{
        font-size: 27px;
    }
    .txt{
        line-height: 22px;
    }
}