<div id="blocoBeneficios">
    <div class="row">
        <div class="col-12 mx-auto">
            <p id="titulo1">Alcance sua melhor versão.</p>
            <p id="texto1">Benefícios para sua saúde que valem ouro.</p>
        </div>
        <div class="mx-auto blocoBranco">
            <img class="logo" src="../../../assets/logo/logometalive.png" alt="">
            <img class="icon" src="../../../assets/icones/icon1.png">
            <p class="txt">Saúde <br> Cardiovascular</p> 
            <p class="descricaoBeneficio">Cerca de 14 milhões de pessoas no Brasil tem problemas cardiovasculares</p>
        </div>
        <div class="mx-auto blocoBranco">
            <img class="logo" src="../../../assets/logo/logometalive.png" alt="">
            <img class="icon" src="../../../assets/icones/icon2.png">
            <p class="txt">Bem-estar Mental</p> 
            <p class="descricaoBeneficio">Em 1946 a Organização Mundial da Saúde (OMS) definiu saúde como um estado completo do bem-estar, mental e social, e não apenas como ausência de doença ou enfermidade</p>
        </div>
        <div class="mx-auto blocoBranco">
            <img class="logo" src="../../../assets/logo/logometalive.png" alt="">
            <img class="icon" src="../../../assets/icones/icon3.png">
            <p class="txt">Imunidade e <br> Qualidade de Vida</p> 
            <p class="descricaoBeneficio">Uma pessoa que vive com imunidade em alta, tem mais qualidade de vida, disposição para praticar exercícios e ter uma vida mais ativa.</p>
        </div>
        <div class="col-11 mx-auto" id="bloco3">
            <a id="link1" href="/formulario" ><p id="textoBotao">Faça parte</p></a>
        </div>
    </div>
</div>