<div id="blocoBeneficios">
    <div id="bloco1"> <!--elemento filho-->
        <p id="titulo1">Alcance sua melhor versão.</p>
        <p id="texto1">Benefícios para sua saúde que valem ouro.</p>
    </div>
    <div id="bloco2">
        <span id="blocoBranco1"><p></p></span>
        <span id="blocoBranco2"><p></p></span>
        <span id="blocoBranco3"><p></p></span>
        <span>
            <img id="logo1" src="../../../assets/logo/logometalive.png" alt="">
        </span>
        <span >
            <img id="logo2" src="../../../assets/logo/logometalive.png" alt="">
        </span>
        <span>
            <img id="logo3" src="../../../assets/logo/logometalive.png" alt="">
        </span>
        <img id="icon1" src="../../../assets/icones/icon1.png">
        <img id="icon2" src="../../../assets/icones/icon2.png">
        <img id="icon3" src="../../../assets/icones/icon3.png">
        <p id="txt1">Saúde <br> Cardiovascular</p>
        <p id="txt2">Bem-estar <br> Mental</p>
        <p id="txt3">Imunidade e <br> Qualidade de Vida</p>
    </div>
    <a id="link1" href=""><p id="textoBotao">Faça parte</p></a>
</div>