<div class="container-fluid" id="blocoCombos">
    <div class="row">
        <p class="cl-12" id="tituloCombos">Combos</p>
        <p id="textoCombos">Desfrute do melhor plano que a Metalive tem pra você</p>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mx-auto combo">
                    <div class="blocoTitulo">
                        <p class="tituloCombo">Starter</p>
                        <p class="subTituloCombo">Para iniciantes</p>
                    </div>
                    <div class="blocoValor">
                    <p class="val1">Rs</p>
                    <p class="val2">149</p>
                    <p class="val3">99</p>
                    <p class="mensal">Mensal</p></div>
                    <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                    <p class="descricaoCombo">Alguma descrição</p>
                    <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                    <p class="descricaoCombo">Alguma descrição</p>
                    <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                    <p class="descricaoCombo">Alguma descrição</p>
                    <div class="row">
                        <a class="linkAssineJa col-12 mx-auto" href="">
                            <p class="textoLink">Assine já!</p>
                        </a>
                        </div>
                </div>
                <div class="col-lg-4 mx-auto combo">
                    <div class="blocoTitulo">
                        <p class="tituloCombo">Medium</p>
                        <p class="subTituloCombo">Para participantes</p>
                    </div>
                    <div class="blocoValor">
                    <p class="val1">Rs</p>
                    <p class="val2">179</p>
                    <p class="val3">99</p></div>
                    <p class="mensal">Mensal</p>
                    <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                    <p class="descricaoCombo">Alguma descrição</p>
                    <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                    <p class="descricaoCombo">Alguma descrição</p>
                    <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                    <p class="descricaoCombo">Alguma descrição</p>
                    <div class="row">
                    <a class="linkAssineJa col-12 mx-auto" href="">
                        <p class="textoLink">Assine já!</p>
                    </a>
                    </div>
                </div>
                <div class="col-lg-4 mx-auto combo">
                    <div class="blocoTitulo">
                        <p class="tituloCombo">Premium</p>
                        <p class="subTituloCombo">Para profissionais</p>
                    </div>
                    <div class="blocoValor">
                    <p class="val1">Rs</p>
                    <p class="val2">199</p>
                    <p class="val3">99</p>
                    <p class="mensal">Mensal</p></div>
                    <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                    <p class="descricaoCombo">Alguma descrição</p>
                    <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                    <p class="descricaoCombo">Alguma descrição</p>
                    <img class="imgDescricao" src="../../../assets/icones/iconcombo.png" alt="">
                    <p class="descricaoCombo">Alguma descrição</p>
                    <div class="row">
                        <a class="linkAssineJa col-12 mx-auto" href="">
                            <p class="textoLink">Assine já!</p>
                        </a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
