#blocoRodape{
    width: 100%;
    gap: 0px;
    opacity: 0px;
    background-color: #303A6D;
}
#imgLogo{
    height: 75px;
    margin-top: 62px;

}
#infos{
    width: 850px;
    height: 116px;
}
#linha{
    border: 1px solid #FFFFFF;
    height: 0px;
    margin-top: 100px;
    border: 1px 0px 0px 0px;
}
.icon{
    margin-top: 32px;
}
#iconEmail{
    margin-top: 2px;
}
.infos{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    line-height: 54.6px;
    letter-spacing: -0.8999999165534973px;
    text-align: left;
    color: #FFFFFF;
    height: 23px;
}
.logo{
    margin-top: 30px;
}
#texto1{
    text-align: center;
    margin-top: 35px;
    opacity: 0px;
    color: #FFFFFF;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    #imgLogo{
        margin-top: 10px;
    }
    .infos{
        font-size: 16px;
        margin-top: 14px;
        line-height: 48.6px;
    }
    .icon{
        margin-top: 25px;
    }
    #iconEmail{
        margin-top: 2px;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
    #imgLogo{
        margin-top: 10px;
        height: 85px;
    }
    .infos{
        font-size: 14px;
        margin-top: 15px;
        line-height: 44.6px;
    }
    .icon{
        margin-top: 25px;
    }
    #iconEmail{
        margin-top: 2px;
    }
}
@media screen and (max-width: 576px) {
    #imgLogo{
        margin-top: 10px;
        height: 75px;
    }
    .infos{
        font-size: 14px;
        margin-top: -5px;
        line-height: 39.6px;
    }
    #blocoInfo{
        gap: 0px;
        margin-top: 40px;
        opacity: 0px;
    }
    #linha{
        margin-top: 60px;
    }
    .icon{
        margin-top: 25px;
    }
    #iconEmail{
        margin-top: 2px;
    }
}
