<div class="container-fluid" id="blocoRodape">
    <div class="row">
        <div class="col-3">
            <img id="imgLogo" src="../../../assets/logo/logoGrande.png" alt="">
        </div>
        <div id="blocoInfo" class="col-9">
            <div id="infos">
                <span id="linhaInfo1">
                    <p class="infos">Lorem Ipsum sit amet</p>
                    <p class="infos">Lorem Ipsum sit amet</p>
                    <p class="infos">Lorem Ipsum sit amet</p>
                </span>
            </div>
            <span id="linhaInfo2">
                <p class="infos">Lorem Ipsum sit amet</p>
                <p class="infos">Lorem Ipsum sit amet</p>
            </span>
        <span id="linhaInfo3">
            <p class="infos">Lorem Ipsum sit amet</p>
            <p class="infos">Lorem Ipsum sit amet</p>
            <p class="infos">Lorem Ipsum sit amet</p>
        </span>

        <span id="linhaInfo4">
            <p class="infos">Lorem Ipsum sit amet</p>
            <p class="infos">Lorem Ipsum sit amet</p>
            <p class="infos">Lorem Ipsum sit amet</p>
            <p class="infos">Lorem Ipsum sit amet</p>
        </span>
        </div>

    </div>
</div>

<div id="linha"></div>
<div id="bloco2">
    <a href=""><img class="logo" src="../../../assets/logo/insta.png" alt=""></a>
    <a href=""><img class="logo" src="../../../assets/logo/twitter.png" alt=""></a>
    <a href=""><img class="logo" src="../../../assets/logo/email.png" alt=""></a>
    <br>
    <p id="texto1">Copyright. All rights Reserved.</p>
</div>