<div class="container-fluid" id="blocoRodape">
    <div class="row">
        <img class="col-xl-3 col-lg-3 col-md-5 col-sm-7 col-9 mx-auto" id="imgLogo" src="../../../assets/logo/logoGrande.png" alt="">

        <div id="blocoInfo" class="col-xl-8 col-lg-9 col-md-11 col-sm-11 col-11 mx-auto">
            <div class="row">
                <div class="col-xl-2 col-lg-0 col-md-0 col-sm-0"></div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-8 mx-auto linhaInfo">
                    <a href="#" class="infos"><b>Informações gerais</b></a><br>
                    <a href="/combos" class="infos">Combos e preços</a><br>
                    <!--<a class="infos">Metodologia Metalive (em breve)</a><br>-->
                    <a class="infos">GPS da saúde (em breve)</a><br>
                    <a href="#" (click)="rolarParaDestino($event, 'meuDestino')" class="infos">Quem somos</a><br>
                    <!--<a href="#" class="infos">Alcance sua maior versão</a><br>-->
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-8 mx-auto linhaInfo">
                    <!--<a href="#" class="infos"><b>Parceiros</b></a><br>-->
                    <a href="#" class="infos">Porque escolher a Metalive</a><br>
                    <a  href="/" (click)="rolarParaDestino($event, 'destinoContato')" class="infos">Trabalhe conosco</a><br>
                    <a class="infos">Para Empresas (em breve)</a><br>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-8 mx-auto linhaInfo">
                    <a href="#" class="infos"><b>Suporte</b></a><br>
                    <a href="#" class="infos">Privacidade</a><br>
                    <a class="infos">Central de ajuda (em breve)</a><br>
                    <a href="#" class="infos">Cookies</a><br>
                    <a href="#" class="infos">Termos de Privacidade</a><br>
                </div>
            </div>
        </div>
        <!--divisao 1-->
        <div class="col-10 mx-auto" id="linha"></div>
        <div class="col-lg-3 col-10 mx-auto">
            <div class="row">
                <a class="icon col-lg-3 col-md-2 col-sm-3 col-4 mx-auto" target="_blank" href="https://www.instagram.com/metalive.br"><img class="col-8" src="../../../assets/logo/insta.png" alt=""></a>
                <a class="icon col-lg-3 col-md-2 col-sm-3 col-4 mx-auto" href=""><img class="col-8" src="../../../assets/logo/twitter.png" alt=""></a>
                <a class="icon col-lg-3 col-md-2 col-sm-3 col-4 mx-auto" href="mailto:metalive.sa@gmail.com" target="_blank"><img id="iconEmail" class="col-8" src="../../../assets/logo/email.png" alt=""></a>
            </div>
        </div>
        <div class="col-12">
            <p id="texto1">© 2024 Todos os direitos reservados - METALIVE sociedade limitada, CNPJ: 55.864.891/0001-16</p>
        </div>
    </div>
</div>