#blocoRodape{
    width: 100%;
    height: 426px;
    top: 4020px;
    gap: 0px;
    opacity: 0px;
    background-color: #303A6D;
}
#imgLogo{
    width: 300px;
    height: 75px;
    margin-top: 62px;
    margin-left: 61px;
    gap: 0px;
    opacity: 0px;
}
#blocoInfo{
    //width: 850px;
    height: 116px;
    //margin-left: 529px;
    gap: 0px;
    opacity: 0px;
}
#infos{
    width: 850px;
    height: 116px;
    top: 62px;
    left: 529px;
    gap: 0px;
    opacity: 0px;
}
#linha{
    border: 1px solid #FFFFFF;
    width: 1109px;
    height: 0px;
    top: 272px;
    left: 165px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
}
.icon{
    width: 40px;
    height: 40px;
    top: 308px;
    left: 628px;
    gap: 0px;
    opacity: 0px;
}
.infos{
    font-family: Poppins;
    font-size: 17px;
    font-weight: 300;
    line-height: 57.6px;
    letter-spacing: -0.8999999165534973px;
    text-align: left;
    color: #FFFFFF;
    width: 175px;
    height: 23px;
    gap: 0px;
    opacity: 0px;
}
#texto1{
    width: 243px;
    height: 23px;
    top: 367px;
    left: 598px;
    gap: 0px;
    opacity: 0px;
    background: #FFFFFF;
}
