<div class="container-fluid" id="blocoRodape">
    <div class="row">
        <div id="bloco1">
            <img class="cl-4" id="imgLogo" src="../../../assets/logo/logoGrande.png" alt="">
            <div class="cl-4" id="infos">
                <div id="linhaInfo1"></div>
                <p class="infos">Lorem Ipsum sit amet</p>
                <p class="infos">Lorem Ipsum sit amet</p>
                <p class="infos">Lorem Ipsum sit amet</p>
            </div>
            <div id="linhaInfo2"></div>
            <p class="infos">Lorem Ipsum sit amet</p>
            <p class="infos">Lorem Ipsum sit amet</p>
        </div>
        <div id="linhaInfo3"></div>
        <p class="infos">Lorem Ipsum sit amet</p>
        <p class="infos">Lorem Ipsum sit amet</p>
        <p class="infos">Lorem Ipsum sit amet</p>
    </div>
    <div id="linhaInfo4"></div>
    <p class="infos">Lorem Ipsum sit amet</p>
    <p class="infos">Lorem Ipsum sit amet</p>
    <p class="infos">Lorem Ipsum sit amet</p>
    <p class="infos">Lorem Ipsum sit amet</p>
</div>
<!--</div>-->
<div id="linha"></div>
<div id="bloco2">
    <a href=""><img class="logo" src="../../../assets/logo/insta.png" alt=""></a>
    <a href=""><img class="logo" src="../../../assets/logo/twitter.png" alt=""></a>
    <a href=""><img class="logo" src="../../../assets/logo/email.png" alt=""></a>
    <br>
    <p id="texto1">Copyright. All rights Reserved.</p>
</div><!--
</div>
</div>-->