<div class="container-fluid" id="paginaWelcome">
    <div class="row">
        <div id="logoEsquerda">
            <img id="imgEsquerda" src="../../../assets/paginas/login/logo1.png" alt="">
        </div>
        <div class="col-8 mx-auto" id="blocoPrincipal">
            <div class="row">
                <div class="col-4 mx-auto" id="entrar">
                    <div class="row">
                    <p class="col-12 mx-auto" id="texto1">Welcome to</p>
                        <img class="col-12 mx-auto" id="logoMetalive"
                            src="../../../assets/paginas/login/tituloMetalive.png" alt="">
                    <p class="col-12 mx-auto" id="testo2">Conexão, mente e corpo.</p>
                    <input placeholder="   Username" id="username" class="col-12 mx-auto inputLogin" type="text" [(ngModel)]="email">
                    <input placeholder="   Password" id="password" class="col-12 mx-auto inputLogin" type="password" [(ngModel)]="password">
                    <button class="col-12 mx-auto" id="botaoEntrar" (click)="login()">Entrar</button>
                    <p class="col-12 mx-auto text-center text-primary cursor-pointer" (click)="resetPassword()">Esqueci minha senha.</p>
                    <p class="col-12 mx-auto texto3">
                        Não tem uma conta? <a id="linkCadastro" href="">Cadastre-se agora!</a>
                    </p>
                    <p class="col-12 mx-auto texto3">Ou</p>
                    <p class="col-12 mx-auto texto3">Continue com as redes sociais.</p>
                                        </div>

                    <div class="row">
                        <div class="col-3 mx-auto"></div>
                        <a class="col-1 mx-auto redesSociais" href=""><img
                                src="../../../assets/paginas/login/google.png" alt=""></a>
                        <a class="col-1 mx-auto redesSociais" href=""><img
                                src="../../../assets/paginas/login/iconFacebook.png" alt=""></a>
                        <div class="col-4 mx-auto"></div>
                    </div>
                </div>
                <img class="col-7" id="logoGrande" src="../../../assets/paginas/login/logo1.png" alt="">
            </div>
        </div>
        <div id="logoDireita">
            <img id="imgDireita" src="../../../assets/paginas/login/logo1.png" alt="">
        </div>
    </div>
</div>