<div class="container-fluid" id="paginaWelcome">
    <div class="row">
        <!--
        <div id="logoEsquerda">
            <img id="imgEsquerda" src="../../../assets/paginas/login/logo1.png" alt="">
        </div>-->
        <div class="col-xl-9 col-lg-10 col-md-11 col-sm-11 col-12 mx-auto" id="blocoPrincipal">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 mx-auto" id="entrar">
                    <div class="row">
                    <p class="col-12 mx-auto" id="texto1">Welcome to</p>
                        <img class="col-12 mx-auto" id="logoMetalive"
                            src="../../../assets/paginas/login/tituloMetalive.png" alt="">
                    <p class="col-12 mx-auto" id="testo2">Conexão, mente e corpo.</p>
                    <input placeholder="   Username" id="username" class="col-12 mx-auto inputLogin" type="text" [(ngModel)]="email">
                    <div class="col-12"></div>
                    <input placeholder="   Password" id="password" class="col-12 mx-auto inputLogin" type="password" [(ngModel)]="password">
                    <div class="col-12"></div>
                    <input placeholder="   Password" id="password2" class="col-12 mx-auto inputLogin" type="password" [(ngModel)]="repeatPassword">
                    <div class="col-12"></div>
                    <button class="col-12 mx-auto" id="botaoEntrar" (click)="cadastrar()">Entrar</button>
                    <div class="col-12"></div>
                    <p class="col-12 mx-auto texto3">Continue com as redes sociais.</p>
                    </div>
                    <div class="row">
                        <div class="col-3 mx-auto"></div>
                        <a class="col-1 mx-auto redesSociais" href=""><img
                                src="../../../assets/paginas/login/google.png" alt=""></a>
                        <a class="col-1 mx-auto redesSociais" href=""><img
                                src="../../../assets/paginas/login/iconFacebook.png" alt=""></a>
                        <div class="col-4 mx-auto"></div>
                    </div>
                </div>
                <img class="col-xl-8 col-lg-8 col-md-8 d-none d-md-block" id="logoGrande" src="../../../assets/paginas/login/logo1.png" alt="">
            </div>
        </div><!--
        <div id="logoDireita">
            <img id="imgDireita" src="../../../assets/paginas/login/logo1.png" alt="">
        </div>-->
    </div>
</div>
<app-toast aria-live="polite" aria-atomic="true"></app-toast>