<div class="container-fluid" id="paginaWelcome">
    <div class="row">
        <div id="logoEsquerda">
            <img id="imgEsquerda" src="" alt="">
        </div>
        <div class="col-8 mx-auto" id="blocoPrincipal">
            <div class="row">
                <div class="col-4" id="entrar">
                    <p id="texto1">Welcome to</p>
                    <img id="logoMetalive" src="" alt="">
                    <p id="testo2">Conexão, mente e corpo.</p>
                    <input id="username" class="inputLogin" type="text">
                    <input id="password1" class="inputLogin" type="password">
                    <input id="password2" class="inputLogin" type="password">
                    <button>Entrar</button>
                    <p id="texto3">
                        Continue com as redes sociais.
                    </p>
                </div>
                <div class="col-8" id="logo">
                    <img id="logoGrande" src="" alt="">
                </div>
            </div>
        </div>
        <div id="logoEDireita">
            <img id="imgDireita" src="" alt="">
        </div>
    </div>
</div>