<div class="container-fluid">
    <div class="row">
        <div class="col-10">
            <div class="row">
                <h2 id="tituloForm">Formulário</h2>
                <div class="blocoPessoal">
                    <p class="textoInput">Nome</p>
                    <input type="text">
                    <p class="textoInput">Número do documento de Identidade</p>
                    <input type="text">
                    <p class="textoInput">Órgão Emissor/UF</p>
                    <input type="text">
                    <p class="textoInput">Número do CPF</p>
                    <input type="text">
                    <p class="textoInput">CEP</p>
                    <input type="text">
                    <p class="textoInput">Rua</p>
                    <input type="text">
                    <p class="textoInput">Múmero</p>
                    <input type="text">
                    <p class="textoInput">Complemento</p>
                    <input type="text">
                    <p class="textoInput">Data de nascimento</p>
                    <input type="text">
                    <p class="textoInput">Sexo</p>
                    <p class="textoInput">Feminino</p>
                    <input type="checkbox">
                    <p class="textoInput">Masculino</p>
                    <input type="checkbox">
                </div>
            </div>
        </div>
    </div>
</div>