<div class="container-fluid">
    <div class="row">
        <nav id="header" class="col-12 navbar navbar-expand-lg bg-body-tertiary">
            <div class="header container-fluid">
              <a class="navbar-brand" href="#">
                <img id="logo" src="../../../assets/logo/logometalive1.png" alt="">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <div class="d-block d-md-none">
                    <p class="textoNav" id="nome">Olá, {{ clienteData?.nome || 'Nome do Cliente' }}</p>
                    <p class="textoNav">Plano: Metalive Básico <u>ATIVO</u></p>
                  </div>
                  <li class="nav-item">

                    <a class="link" (click)="showContent('content1')">Inicio</a>

                  </li>
                  <li class="nav-item">

                    <a class="link" (click)="showContent('content2')">Nutricionista</a>

                    </li>
                  <li class="nav-item">

                    <a class="link" (click)="showContent('content3')">Personal</a>

                  </li>
                  <div class="d-none d-md-block">
                    <p class="textoNav" id="nome">Olá, {{ clienteData?.nome || 'Nome do Cliente' }}</p>
                    <p class="textoNav">Plano: Metalive Básico <u>ATIVO</u></p>
                  </div>
                  <div id="botaoSair">
                    <a (click)="onLogout()" class="link-logout" href="#">Sair</a> <!-- Link de logout -->
                </div>
                </ul>
              </div>
            </div>
          </nav>

          <div>
            <div *ngIf="currentContent === 'content1'">
                <div class="col-4 informacoesProfissional">
                  <p class="tituloConsulta">Próximas consultas:</p>
                  <ul>
                      <li>Nenhuma consulta agendada</li>
                      <!--<li></li>-->
                  </ul>
              </div> 
              <div style="margin-left: 50px;" class="col-4 informacoesProfissional">
                <p class="tituloConsulta">Histórico de consultas:</p>
                <ul>
                    <li>Histórico de consultas vazio</li>
                    <!--<li></li>-->
                </ul>
            </div> 
            <div class="col-4 informacoesProfissional">
              <p class="tituloConsulta">Formulário</p>
              <ul>
                  <li>Clique <a [routerLink]="['/formulario', clienteId]">aqui</a> para preencher o formulário.</li>
                  <!--<li></li>-->
              </ul>
          </div> 
            </div>
            <div *ngIf="currentContent === 'content2'">
                <div class="informacoesProfissional">
                    <p class="tituloConsulta">NUTRICIONISTA</p>
                    <ul>
                        <li>Profissional: Amanda Santana.</li>
                        <li>Detalhes do Atendimento: Atendimento via Google Meet após o preenchimento do formulário.</li>
                    </ul>
                </div>
                <div id="posicao1" class="col-12">
                    <img class="icon" src="../../../assets/paginas/perfil/minhaalimentacao1.png" alt="">
                    <p class="titulo">Meu plano alimentar.</p>
                </div>
                <br><br>
                <div class="mx-auto" id="dieta">
                    <ng-container *ngIf="clienteData?.diet; else noDiet">
                      <pre class="dietaTreinoPronto">{{ clienteData.diet }}</pre> <!-- Dieta do Cliente -->
                    </ng-container>
                    <ng-template #noDiet>
                        <p class="textoNaoDisponivel">Nenhuma dieta disponível, clique <a [routerLink]="['/formulario', clienteId]">aqui</a> para responder um formulário e agendar uma consulta.
                        </p>
                    </ng-template>
                  </div>                  
                  <!--
                <p class="col-11 mx-auto texto1">De acordo com seu perfil, evite consumir alimentos industrializados com muito sal (sódio) como hambúrguer, charque, salsicha, lingüiça, presunto, salgadinhos, conservas de vegetais, sopas, molhos e temperos prontos. – Beba pelo menos 2 litros (6 a 8 copos) de água por dia. Dê preferência ao consumo de água nos intervalos das refeições.</p>
                <div class="col-10 mx-auto">
                    <img class="icon2" src="../../../assets/paginas/perfil/iconCheck.png" alt="">
                    <p class="tituloRefeicao">Café da manhã</p>
                    
                <p class="tituloOp">Opção 1:</p>
                <ul>
                    <li>2 fatias de pão integral.</li>
                    <li>1 ovo cozido ou mexido.</li>
                    <li>1 copo de suco natural de laranja.</li>
                </ul>
                <div class="col-12">
                    <p class="tituloOp">Opção 2:</p>
                </div>
                <ul>
                    <li>Aveia com frutas (banana, maçã, morangos).</li>
                    <li>1 iogurte natural sem adição de açúcar.</li>
                </ul>
                <p class="col-12 tituloOp">Opção 3:</p>
                <ul>
                    <li>Vitamina de frutas (banana, morangos, mamão) com leite de amêndoas ou leite desnatado.</li>
                </ul>
                <div class="col-12">
                    <img class="icon2" src="../../../assets/paginas/perfil/iconCheck.png" alt="">
                    <p class="tituloRefeicao">Almoço</p>
                </div>
                <p class="col-12 tituloOp">Opção 1:</p>
                <ul>
                    <li>1 filé de frango grelhado.</li>
                    <li>Arroz Integral.</li>
                    <li>Feijão preto ou lentilha.</li>
                    <li>Salada de folhas verdes (alface, rúcula, agrião) temperada com azeite de oliva e limão.</li>
                </ul>
                <p class="col-12 tituloOp">Opção 2:</p>
                <ul>
                    <li>Peixe assado ou cozido.</li>
                    <li>Batata doce cozida ou assada.</li>
                    <li>Brócolis refogado.</li>
                    <li>Salada de tomate, pepino e cenoura ralada temperada com azeite de vinagre balsâmico.</li>
                </ul>
                <p class="col-12 tituloOp">Opção 3:</p>
                <ul>
                    <li>Quinoa cozida com legumes (cenoura, abobrinha, pimentão).</li>
                    <li>Filé de carne magra grelhada.</li>
                    <li>Salada de beterraba ralada com cebola roxa e salsinha.</li>
                </ul>
                <div class="col-12">
                    <img class="icon2" src="../../../assets/paginas/perfil/iconCheck.png" alt="">
                    <p class="tituloRefeicao">Jantar</p>
                </div>
                <p class="col-12 tituloOp">Opção 1:</p>
                <ul>
                    <li>1 filé de frango grelhado.</li>
                    <li>Arroz Integral.</li>
                    <li>Feijão preto ou lentilha.</li>
                    <li>Salada de folhas verdes (alface, rúcula, agrião) temperada com azeite de oliva e limão.</li>
                </ul>
                <p class="col-12 tituloOp">Opção 2:</p>
                <ul>
                    <li>Peixe assado ou cozido.</li>
                    <li>Batata doce cozida ou assada.</li>
                    <li>Brócolis refogado.</li>
                    <li>Salada de tomate, pepino e cenoura ralada temperada com azeite de vinagre balsâmico.</li>
                </ul>
                <p class="col-12 tituloOp">Opção 3:</p>
                <ul>
                    <li>Quinoa cozida com legumes (cenoura, abobrinha, pimentão).</li>
                    <li>Filé de carne magra grelhada.</li>
                    <li>Salada de beterraba ralada com cebola roxa e salsinha.</li>
                </ul>
                <div class="col-11 mx-auto linha2"></div><br>
                <img class="icon2" src="../../../assets/paginas/perfil/iconTreino.png" alt="">
                <div class="col-11 mx-auto linha2"></div><br>
                </div>-->
            </div>
            <div *ngIf="currentContent === 'content3'">
                <div class="informacoesProfissional">
                    <p class="tituloConsulta">PERSONAL TRAINER</p>
                    <ul>
                        <li>Profissional: Maicon Salles.</li>
                        <li>Detalhes do Atendimento: Atendimento via Google Meet após o preenchimento do formulário.</li>
                    </ul>
                </div> 
                <div id="posicaoMeuDesempenho">
                    <p class="titulo">Meu treino</p> <br><br>
                    <div class="mx-auto" id="treino">
                        <ng-container *ngIf="clienteData?.treino; else noDiet">
                          <pre class="dietaTreinoPronto">{{ clienteData.treino }}</pre> <!-- Dieta do Cliente -->
                        </ng-container>
                        <ng-template #noDiet>
                            <p class="textoNaoDisponivel">Nenhum treino disponível, clique <a [routerLink]="['/formulario', clienteId]">aqui</a> para responder um formulário e agendar uma consulta.
                            </p>
                        </ng-template>
                      </div>   
                    <!--
                    <ul>
                        <li>Segunda Feira: Treino de membros inferiores e cardio.</li>
                        <li>Terça Feira: Treino de partes superior do corpo.</li>
                        <li>Quarta Feira: Descanso ativo.</li>
                        <li>Quinta Feira: Treino de membros inferiores e core.</li>
                        <li>Sexta Feira: Treino de parte superior do corpo e cardio.</li>
                        <li>Sábado: Treino de corpo inteiro (circuito).</li>
                        <li>Domingo: Descanso total.</li>
                    </ul>-->  
                    </div>
            </div>
          </div>
          
    </div>
</div>