<div class="container-fluid">
    <div class="row">
        <p class="titulo">Meu treino</p> <br><br>
        <ul>
            <li>Segunda Feira: Treino de membros inferiores e cardio.</li>
            <li>Terça Feira: Treino de partes superior do corpo.</li>
            <li>Quarta Feira: Descanso ativo.</li>
            <li>Quinta Feira: Treino de membros inferiores e core.</li>
            <li>Sexta Feira: Treino de parte superior do corpo e cardio.</li>
            <li>Sábado: Treino de corpo inteiro (circuito).</li>
            <li>Domingo: Descanso total.</li>
        </ul>
        
        <div id="posicao1" class="col-12">
            <p class="titulo">Minha dieta.</p>
        </div>
        <br><br>
        <p class="col-11 mx-auto texto1">
            De acordo com seu perfil, evite consumir alimentos industrializados com muito sal (sódio) como hambúrguer, charque, salsicha, lingüiça, presunto, salgadinhos, conservas de vegetais, sopas, molhos e temperos prontos. – Beba pelo menos 2 litros (6 a 8 copos) de água por dia. Dê preferência ao consumo de água nos intervalos das refeições.
        </p>
        <div class="col-10 mx-auto">
            <img class="icon2" src="../../../assets/paginas/perfil/iconCheck.png" alt="">
            <p class="tituloRefeicao">Café da manhã</p>
            
        <p class="tituloOp">Opção 1:</p>
        <ul>
            <li>2 fatias de pão integral.</li>
            <li>1 ovo cozido ou mexido.</li>
            <li>1 copo de suco natural de laranja.</li>
        </ul>
        <div class="col-12">
            <p class="tituloOp">Opção 2:</p>
        </div>
        <ul>
            <li>Aveia com frutas (banana, maçã, morangos).</li>
            <li>1 iogurte natural sem adição de açúcar.</li>
        </ul>
        <p class="col-12 tituloOp">Opção 3:</p>
        <ul>
            <li>Vitamina de frutas (banana, morangos, mamão) com leite de amêndoas ou leite desnatado.</li>
        </ul>
        
    </div>
</div>