<div class="container-fluid">
    <div class="row">
        <div class="col-10 mx-auto">
            <div class="row">
                <h2 id="tituloForm">Formulário</h2>
                <div class="blocoPessoal">
                    <div class="titulo1">
                        <h3>PESSOAL</h3>
                    </div>
                    <div class="row posicaoForm">
                    <p class="textoInput">Nome</p>
                    <input class="col-11" type="text">
                    <div class="col-4">
                        <p class="textoInput">Número do documento de Identidade</p>
                        <input style="width: 300px;" type="text">
                    </div>
                    <div class="col-2">
                    <p class="textoInput">Órgão Emissor/UF</p>
                    <input type="text">
                    </div>
                    <div class="col-2"></div>
                    <div class="col-4">
                    <p class="textoInput">Número do CPF</p> <br>
                    <input style="width: 300px" type="number">
                    </div>
                    <div class="col-2">
                        <p class="textoInput">CEP</p>
                        <input type="text">
                    </div>
                    <div class="col-1"></div>
                    <div class="col-4">
                        <p class="textoInput">Rua</p><br>
                        <input style="width: 310px" type="text">
                    </div>
                    <div class="col-1">
                    <p class="textoInput">Múmero</p><br>
                    <input style="width: 60px" type="text">
                    </div>
                    <div class="col-4">
                        <p class="textoInput">Complemento</p><br>
                        <input style="width: 300px;" type="text">
                    </div>
                    <div class="col-5">
                        <p class="textoInput">Data de nascimento</p><br>
                        <input type="text">
                    </div>
                    <div class="col-5">
                        <p class="textoInput">Sexo</p>
                        <div class="row">
                            <div class="col-6">
                                <p class="textoInputCheck">Feminino</p>
                                <input class="checkInput" type="checkbox">
                            </div>
                            <div class="col-6">
                                <p class="textoInputCheck">Masculino</p>
                                <input class="checkInput" type="checkbox">
                            </div>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="blocoPessoal">
                    <div class="titulo1">
                        <h3>PERSONAL TRAINER</h3>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="row posicaoForm">
                                <p class="textoInput">Tem alguma restrição a prática de exercícios?</p>
                                <div class="col-3">
                                    <p class="textoInput">SIM</p>
                                    <input class="checkInput" type="checkbox">
                                </div>
                                <div class="col-3">
                                    <p class="textoInput">NÃO</p>
                                    <input class="checkInput" type="checkbox">
                                </div>
                            <p class="textoInput">Pressão arterial</p>
                            <div class="col-3">
                                <p class="textoInput">Baixa</p>
                                <input class="checkInput" type="checkbox">
                            </div>
                            <div class="col-3">
                                <p class="textoInput">Média</p>
                                <input class="checkInput" type="checkbox">
                            </div>
                            <div class="col-3">
                                <p class="textoInput">Alta</p>
                                <input class="checkInput" type="checkbox">
                            </div>
                            <p class="textoInput">Histórico familiar de doenças:</p>
                            <div class="col-4">
                                <input class="checkInput" type="checkbox">
                                <p class="textoInput">Hipertensão</p>
                            </div>
                            <div class="col-4">
                                <input class="checkInput" type="checkbox">
                                <p class="textoInput">Cardiopatia</p>
                            </div>
                            <div class="col-4">
                                <input class="checkInput" type="checkbox">
                                <p class="textoInput">Diabetes</p>
                            </div>
                            <p class="textoInput">Explique:</p>
                            <input class="caixaInputL" type="">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row posicaoForm">
                            <p class="textoInput">Recentemente fez ou faz algum tratamento no seu dia a dia?</p>
                            <br>
                            <p class="textoInput">SIM</p>
                            <input class="checkInput" type="checkbox">
                            <p class="textoInput">NÃO</p>
                            <input class="checkInput" type="checkbox">
                            <br>
                            <p class="textoInput">Toma algum medicamento regularmente?</p>
                            <br>
                            <p class="textoInput">SIM</p>
                            <input class="checkInput" type="checkbox">
                            <p class="textoInput">NÃO</p>
                            <input class="checkInput" type="checkbox">
                            <br>
                            <p class="textoInput">Se SIM, quais?</p><br>
                            <input class="caixaInputL" type="text">
                            <p class="textoInput">Fez alguma cirurgia ou esteve internado recentemente?</p>
                            <br>
                            <p class="textoInput">SIM</p>
                            <input class="checkInput" type="checkbox">
                            <p class="textoInput">NÃO</p>
                            <input class="checkInput" type="checkbox">
                            <br>
                            <p class="textoInput">Sente dor no seu dia a dia?</p>
                            <br>
                            <p class="textoInput">SIM</p>
                            <input class="checkInput" type="checkbox">
                            <p class="textoInput">NÃO</p>
                            <input class="checkInput" type="checkbox">
                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blocoPessoal">
                    <div class="titulo1">
                        <h3>NUTRICIONISTA</h3>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p class="textoInput">Pratica alguma atividade fisica?</p>
                            <br>
                            <p class="textoInput">SIM</p>
                            <input class="checkInput" type="checkbox">
                            <p class="textoInput">NÃO</p>
                            <input class="checkInput" type="checkbox">
                            <br>
                            <p class="textoInput">Qual?</p><br>
                            <input class="caixaInputS" type="text">
                            <br>
                            <p class="textoInput">Quais dias e horários?</p><br>
                            <input class="caixaInputS" type="text">
                            <br>
                            <p class="textoInput">Consome bebidas alcoólicas?</p><br>
                            <br>
                            <p class="textoInput">SIM</p>
                            <input class="checkInput" type="checkbox">
                            <p class="textoInput">NÃO</p>
                            <input class="checkInput" type="checkbox">
                            <br>
                            <p class="textoInput">Com qual frequência?</p><br>
                            <input class="caixaInputS" type="text">
                            <br>
                            <p class="textoInput">É tabagista?</p>
                            <br>
                            <p class="textoInput">SIM</p>
                            <input class="checkInput" type="checkbox">
                            <p class="textoInput">NÃO</p>
                            <input class="checkInput" type="checkbox">
                            <br>
                            <p class="textoInput">Quantos litros de água consome por dia?</p>
                            <br>
                            <input class="checkInput" type="checkbox">
                            <p class="textoInput">Zero</p><br>
                            <input class="checkInput" type="checkbox">
                            <p class="textoInput">Até 1L</p><br>
                            <input class="checkInput" type="checkbox">
                            <p class="textoInput">1L a 2l</p><br>
                            <input class="checkInput" type="checkbox">
                            <p class="textoInput">2L a 3L</p><br>
                            <input class="checkInput" type="checkbox">
                            <p class="textoInput">Mais de 3l</p><br>
                        </div>
                        <div class="col-6">
                            <p class="textoInput">Quais alimentos você não gosta de comer?</p><br>
                            <input class="caixaInputM" type="text"><br>
                            <p class="textoInput">Quais são os alimentos indispensáveis, que você ama comer?</p><br>
                            <input class="caixaInputM" type="text"><br>
                            <p class="textoInput">Qual o horário de maior apetite?</p><br>
                            <input class="caixaInputM" type="text"><br>
                            <p class="textoInput">Quantas refeições você faz no dia?</p><br>
                            <input class="caixaInputM" type="text"><br>
                            <p class="textoInput">Tem alguma alergia ou intolerância alimentar?</p><br>
                            <p class="textoInput">SIM</p>
                            <input class="checkInput" type="checkbox">
                            <p class="textoInput">NÃO</p>
                            <input class="checkInput" type="checkbox">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>