<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-10 col-lg-10 col-md-11 col-sm-12 col-12 mx-auto">
                <div class="row">
                    <h2 id="tituloForm">Formulário</h2>
                    <div class="blocoPessoal">
                        <div class="titulo1">
                            <h3>PESSOAL</h3>
                        </div>        
                        <div class="row posicaoForm">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <p class="textoInput">Nome:</p><br>
                                <input style="height: 40px;" class="caixaInputL col-11" formControlName="nome"
                                type="text"><br>
                                <p class="textoInput">E-mail:</p><br>
                                <input style="height: 40px;" class="caixaInputL col-11" formControlName="email"
                                type="text"><br>
                                <p class="textoInput">Gênero:</p><br>
                                <select class="col-11" formControlName="genero">
                                    <option value="" disabled>Selecione o gênero</option>
                                    <option value="masculino">Masculino</option>
                                    <option value="feminino">Feminino</option>
                                    <option value="outro">Outro</option>
                                </select>
                                <p class="textoInput">Data de nascimento:</p><br>
                                <input class="col-11" formControlName="dataNascimento" type="date"><br>
                                
                                <p class="textoInput">Altura:</p><br>
                                <input class="col-11" formControlName="altura" type="number" min="0">
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                
                                <p class="textoInput">Peso:</p><br>
                                <input class="col-11" formControlName="peso" type="number" min="0">
                            
                                <p class="textoInput">Objetivo:</p><br>
                                <select class="col-11" formControlName="objetivo">
                                    <option value="" disabled selected>Selecione o seu objetivo:</option>
                                    <option value="ganharMassa">Ganhar massa</option>
                                    <option value="perderGordura">Perder gordura</option>
                                    <option value="manterPeso">Manter peso</option>
                                    <option value="outro">Outro</option>
                                </select>
                                <p class="textoInput">Deixe aqui os melhores diase horários para agendar uma consulta::</p><br>
                                <input style="height: 80px;" class="caixaInputL col-11" formControlName="consultaDiaEHora"
                                type="text">
                            </div>
                        </div>

                    </div>
                    <div class="blocoPessoal">
                        <div class="titulo1">
                            <h3>PERSONAL TRAINER</h3>
                        </div>
                        <div class="row posicaoForm">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="row">
                                    <p class="textoInput">Tem alguma restrição a prática de exercícios?</p>
                                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-6">
                                        <p class="textoInput">SIM</p>
                                        <input class="checkInput" formControlName="restricaoExerciciosSim"
                                            type="checkbox" [value]="1">
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-6">
                                        <p class="textoInput">NÃO</p>
                                        <input class="checkInput" formControlName="restricaoExerciciosNao"
                                            type="checkbox" [value]="2">
                                    </div>
                                    <p class="textoInput">Pressão arterial:</p>
                                    <div class="col-4">
                                        <p class="textoInput">Baixa</p>
                                        <input class="checkInput" formControlName="pressaoArterialBaixa" type="checkbox"
                                            [value]="1">
                                    </div>
                                    <div class="col-4">
                                        <p class="textoInput">Média</p>
                                        <input class="checkInput" formControlName="pressaoArterialMedia" type="checkbox"
                                            [value]="2">
                                    </div>
                                    <div class="col-4">
                                        <p class="textoInput">Alta</p>
                                        <input class="checkInput" formControlName="pressaoArterialAlta" type="checkbox"
                                            [value]="3">
                                    </div>
                                    <p class="textoInput">Histórico familiar de doenças:</p>
                                    <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <input class="checkInput" formControlName="historicoDoencasHipertensao"
                                            type="checkbox" name="group4" value="1">
                                        <p class="textoInput">Hipertensão</p>
                                    </div>
                                    <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <input class="checkInput" formControlName="historicoDoencasCardiopatia"
                                            type="checkbox" name="group4" value="2">
                                        <p class="textoInput">Cardiopatia</p>
                                    </div>
                                    <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <input class="checkInput" formControlName="historicoDoencasDiabetes"
                                            type="checkbox" name="group4" value="3">
                                        <p class="textoInput">Diabetes</p>
                                    </div>
                                    <p class="textoInput">Explique:</p>
                                    <input class="caixaInputL col-11" formControlName="expliqueHistoricoDoencas"
                                        type="">
                                    <p class="col-11 textoInput">Recentemente fez ou faz algum tratamento no seu dia a
                                        dia?</p>
                                    <br>
                                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-6">
                                        <p class="textoInput">SIM</p>
                                        <input class="checkInput" formControlName="tratamentoDiaADiaSim" type="checkbox"
                                            name="group5" value="1" (click)="onlyOne($event.target, 'group5')">
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-6">
                                        <p class="textoInput">NÃO</p>
                                        <input class="checkInput" formControlName="tratamentoDiaADiaNao" type="checkbox"
                                            name="group5" value="2" (click)="onlyOne($event.target, 'group5')">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="row">
                                    <br>
                                    <p class="col-11 textoInput">Toma algum medicamento regularmente?</p>
                                    <br>
                                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-6">
                                        <p class="textoInput">SIM</p>
                                        <input class="checkInput" formControlName="medicamentoRegularSim"
                                            type="checkbox" name="group6" value="1"
                                            (click)="onlyOne($event.target, 'group6')">
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-6">
                                        <p class="textoInput">NÃO</p>
                                        <input class="checkInput" formControlName="medicamentoRegularNao"
                                            type="checkbox" name="group6" value="2"
                                            (click)="onlyOne($event.target, 'group6')">
                                    </div>
                                    <br>
                                    <p class="col-11 textoInput">Se SIM, quais?</p><br>
                                    <input class="col-11 caixaInputL" formControlName="qualMedicamentoRegular"
                                        type="text">
                                    <p class="col-11 textoInput">Fez alguma cirurgia ou esteve internado recentemente?
                                    </p>
                                    <br>
                                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-6">
                                        <p class="textoInput">SIM</p>
                                        <input class="checkInput" formControlName="cirurgiaRecenteSim" type="checkbox"
                                            name="group7" value="1" (click)="onlyOne($event.target, 'group7')">
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-6">
                                        <p class="textoInput">NÃO</p>
                                        <input class="checkInput" formControlName="cirurgiaRecenteNao" type="checkbox"
                                            name="group7" value="2" (click)="onlyOne($event.target, 'group7')">
                                    </div>
                                    <br>
                                    <p class="col-11 textoInput">Sente dor no seu dia a dia?</p>
                                    <br>
                                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-6">
                                        <p class="textoInput">SIM</p>
                                        <input class="checkInput" formControlName="dorDiaADiaSim" type="checkbox"
                                            name="group8" value="1" (click)="onlyOne($event.target, 'group8')">
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-6">
                                        <p class="textoInput">NÃO</p>
                                        <input class="checkInput" formControlName="dorDiaADiaNao" type="checkbox"
                                            name="group8" value="2" (click)="onlyOne($event.target, 'group8')">
                                    </div>
                                    <br>
                                    <p class="textoInput">Qual local?</p><br>
                                    <input class="col-11 caixaInputL" formControlName="localDorDiaADia" type="text">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="blocoPessoal">
                        <div class="titulo1">
                            <h3>NUTRICIONISTA</h3>
                        </div>
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="row posicaoForm">
                                    <p class="col-12 textoInput">Pratica alguma atividade fisica?</p>
                                    <br>
                                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-6">
                                        <p class="textoInput">SIM</p>
                                        <input class="checkInput" formControlName="atividadeFisicaSim" type="checkbox"
                                            name="group9" value="1" (click)="onlyOne($event.target, 'group9')">
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-6">
                                        <p class="textoInput">NÃO</p>
                                        <input class="checkInput" formControlName="atividadeFisicaNao" type="checkbox"
                                            name="group9" value="2" (click)="onlyOne($event.target, 'group9')">
                                    </div>
                                    <p class="col-12 textoInput">Qual?</p><br>
                                    <input class="col-11 caixaInputS" formControlName="qualAtividadeFisica" type="text">
                                    <br>
                                    <p class="col-12 textoInput">Quais dias e horários?</p><br>
                                    <input class="col-11 caixaInputS" formControlName="atividadeFisicaDiasHorarios"
                                        type="text">
                                    <br>
                                    <p class="col-12 textoInput">Consome bebidas alcoólicas?</p><br>
                                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-6">
                                        <p class="textoInput">SIM</p>
                                        <input class="col-11 checkInput" formControlName="consomeBebidasAlcoolicasSim"
                                            type="checkbox" name="group10" value="1"
                                            (click)="onlyOne($event.target, 'group10')">
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-6">
                                        <p class="textoInput">NÃO</p>
                                        <input class="checkInput" formControlName="consomeBebidasAlcoolicasNao"
                                            type="checkbox" name="group10" value="2"
                                            (click)="onlyOne($event.target, 'group10')">
                                    </div>
                                    <p class="col-11 textoInput">Com qual frequência?</p><br>
                                    <input class="col-11 caixaInputS" formControlName="frequenciaBebidasAlcoolicas"
                                        type="text">
                                    <br>
                                    <p class="col-11 textoInput">É tabagista?</p>
                                    <br>
                                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-6">
                                        <p class="textoInput">SIM</p>
                                        <input class="checkInput" formControlName="tabagistaSim" type="checkbox"
                                            name="group11" value="1" (click)="onlyOne($event.target, 'group11')">
                                    </div>
                                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-6">
                                        <p class="textoInput">NÃO</p>
                                        <input class="checkInput" formControlName="tabagistaNao" type="checkbox"
                                            name="group11" value="2" (click)="onlyOne($event.target, 'group11')">
                                    </div>
                                    <br>
                                    <p class="col-11 textoInput">Quantos litros de água consome por dia?</p>
                                    <br>
                                    <div class="col-12">
                                        <input class="checkInput" formControlName="consumoAguaZero" type="checkbox"
                                            name="group12" value="1" (click)="onlyOne($event.target, 'group12')">
                                        <p class="textoInput">Zero</p><br>
                                    </div>
                                    <div class="col-12">
                                        <input class="checkInput" formControlName="consumoAguaAte1l" type="checkbox"
                                            name="group12" value="2" (click)="onlyOne($event.target, 'group12')">
                                        <p class="textoInput">Até 1L</p><br>
                                    </div>
                                    <div class="col-12">
                                        <input class="checkInput" formControlName="consumoAguaEntre1le2l"
                                            type="checkbox" name="group12" value="3"
                                            (click)="onlyOne($event.target, 'group12')">
                                        <p class="textoInput">1L a 2l</p><br>
                                    </div>
                                    <div class="col-12">
                                        <input class="checkInput" formControlName="consumoAguaEntre2le3l"
                                            type="checkbox" name="group12" value="4"
                                            (click)="onlyOne($event.target, 'group12')">
                                        <p class="textoInput">2L a 3L</p><br>
                                    </div>
                                    <div class="col-12">
                                        <input class="checkInput" formControlName="consumoAguaMais3l" type="checkbox"
                                            name="group12" value="5" (click)="onlyOne($event.target, 'group12')">
                                        <p class="textoInput">Mais de 3l</p><br>
                                    </div>
                                </div>                            </div>

                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="row posicaoForm">
                                        <p class="col-11 textoInput">Quais alimentos você não gosta de comer?</p><br>
                                        <input class="col-11 caixaInputM" formControlName="alimentosNaoGosta"
                                            type="text"><br>
                                        <p class="col-11 textoInput">Quais são os alimentos indispensáveis, que você ama
                                            comer?
                                        </p><br>
                                        <input class="col-11 caixaInputM" formControlName="alimentosIndispensaveis"
                                            type="text"><br>
                                        <p class="col-11 textoInput">Qual o horário de maior apetite?</p><br>
                                        <input class="col-11 caixaInputM" formControlName="horarioMaiorApetite"
                                            type="text"><br>
                                        <p class="col-11 textoInput">Quantas refeições você faz no dia?</p><br>
                                        <input class="col-11 caixaInputM" formControlName="refeicoesDia"
                                            type="text"><br>
                                        <p class="col-11 textoInput">Tem alguma alergia ou intolerância alimentar?</p>
                                        <br>
                                        <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-6">
                                            <p class="textoInput">SIM</p>
                                            <input class="checkInput" formControlName="alergiaIntoleranciaSim"
                                                type="checkbox" name="group13" value="1"
                                                (click)="onlyOne($event.target, 'group13')">
                                        </div>
                                        <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-6">
                                            <p class="textoInput">NÃO</p>
                                            <input class="checkInput" formControlName="alergiaIntoleranciaNao"
                                                type="checkbox" name="group13" value="2"
                                                (click)="onlyOne($event.target, 'group13')">
                                        </div>
                                        <p class="col-12 textoInput">Se sim, qual?</p><br>
                                        <input class="col-11 caixaInputS" formControlName="qualAlergiaIntolerancia"
                                            type="text">
                                        <br>
                                    </div>
                                </div>

                            <button style="margin-top: 20px;" class="col-3 mx-auto" (click)="onSubmit()">Salvar
                                Dados</button>
                            <div style="height: 50px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>